<nav class="flex flex-wrap gap-2.5 mb-10">
  <div class="form-group grow basis-60">
    <label class="text-gray-800 block mb-2">Select branch</label>
    <select
      [(ngModel)]="filters.branch"
      (change)="onFilterChange()"
      class="py-3 px-4 border border-gray-200 pe-9 block rounded-lg text-sm w-full"
    >
      <option selected="">All</option>
      <option>karachi</option>
      <option>lahore</option>
    </select>
  </div>

  <div class="form-group grow basis-60">
    <label class="text-gray-800 block mb-2">Select city</label>
    <select
      [(ngModel)]="filters.city"
      (change)="onFilterChange()"
      class="py-3 px-4 border border-gray-200 pe-9 block rounded-lg text-sm w-full"
    >
      <option selected="">All</option>
      <option>karachi</option>
      <option>lahore</option>
    </select>
  </div>

  <div class="form-group grow basis-60">
    <label class="text-gray-800 block mb-2">Order source</label>
    <select
      class="py-3 px-4 border border-gray-200 pe-9 block rounded-lg text-sm w-full"
      [(ngModel)]="filters.source"
      [disabled]="isFiltersDisable()"
      (change)="onFilterChange()"
    >
      <option selected="">All</option>
      <option>karachi</option>
      <option>lahore</option>
    </select>
  </div>

  <div class="form-group grow basis-60">
    <label class="text-gray-800 block mb-2">Transaction type</label>
    <select
      [(ngModel)]="filters.txType"
      (change)="onFilterChange()"
      class="py-3 px-4 border border-gray-200 pe-9 block rounded-lg text-sm w-full"
    >
      <option selected="">All</option>
      <option>Pickup</option>
      <option>Delivery</option>
    </select>
  </div>

  <div class="form-group grow basis-60">
    <label class="text-gray-800 block mb-2">Select date range</label>
    <input
      type="datetime-local"
      class="py-3 px-4 border border-gray-200 pe-9 block rounded-lg text-sm w-full"
    />
  </div>
</nav>

<div class="grid grid-cols-4 gap-5">
  <div class="relative bg-white border border-gray-200 rounded-xl">
    <div class="p-4 md:p-5">
      <h3 class="font-semibold text-gray-800">Total sales</h3>
      <p class="text-3xl font-bold text-secondary">
        {{ widgets["total_sales"].data }}
      </p>
      <button
        class="absolute top-2.5 right-2.5 w-8 h-8 rounded-lg border border-gray-200 disabled:bg-gray-50"
        [disabled]="widgets['total_sales'].isLoading"
        (click)="fetchWidgetData('total_sales')"
      >
        @if (isLoading('total_sales')) {
          <i class="fa-duotone fa-solid fa-rotate-right animate-spin" ></i>
        }@else if (widgets['total_sales'].viewed) {
          <i class="fa-duotone fa-solid fa-rotate-right"></i>
        }@else {
          <i class="fa-duotone fa-solid fa-eye"></i>
        }

      </button>
    </div>
  </div>

  <div class="relative bg-white border border-gray-200 rounded-xl">
    <div class="p-4 md:p-5">
      <h3 class="font-semibold text-gray-800">Total orders</h3>
      <p class="text-3xl font-bold text-secondary">
        {{ widgets["total_orders"].data }}
      </p>
      <button
        class="absolute top-2.5 right-2.5 w-8 h-8 rounded-lg border border-gray-200 disabled:bg-gray-50"
      >
        <i
          class="fa-duotone fa-solid fa-rotate-right"
          [class.animate-spin]="isLoading('total_orders')"
        ></i>
      </button>
    </div>
  </div>

  <div class="relative bg-white border border-gray-200 rounded-xl">
    <div class="p-4 md:p-5">
      <h3 class="font-semibold text-gray-800">Avg order amount</h3>
      <p class="text-3xl font-bold text-secondary">932K PKR</p>
      <button
        class="absolute top-2.5 right-2.5 w-8 h-8 rounded-lg border border-gray-200 disabled:bg-gray-50"
      >
        <i
          class="fa-duotone fa-solid fa-rotate-right"
          [class.animate-spin]="isLoading('avg_order_amount')"
        ></i>
      </button>
    </div>
  </div>
  <div class="relative bg-white border border-gray-200 rounded-xl">
    <div class="p-4 md:p-5">
      <h3 class="font-semibold text-gray-800">Total tip</h3>
      <p class="text-3xl font-bold text-secondary">932K PKR</p>
      <button
        class="absolute top-2.5 right-2.5 w-8 h-8 rounded-lg border border-gray-200 disabled:bg-gray-50"
        [disabled]="isLoading('total_tip')"
      >
        <i
          class="fa-duotone fa-solid fa-rotate-right"
          [class.animate-spin]="isLoading('total_tip')"
        ></i>
      </button>
    </div>
  </div>
</div>
