<nav class="bg-white border-b border-gray-200 w-full z-30">

  
  <div class="flex items-center space-x-8 py-2 px-4 md:px-8">

    <div class="flex items-center gap-2">
      <!-- Toggle sidebar button -->
      <button
        type="button"
        class="py-2 px-3 inline-flex justify-center items-center gap-x-2 text-start font-medium rounded-lg"
        data-hs-overlay="#app-sidebar"
      >
        <i class="fa-solid fa-bars-staggered"></i>
      </button>
  
      <!-- logo -->
      <div class="flex-none lg:flex-initial">
        <a href="javascript:void(0)">
          <img
            src="https://www.floatui.com/logo.svg"
            width="120"
            height="50"
            alt="Float UI logo"
          />
        </a>
      </div>
    </div>
    
    <!-- search bar -->
    <div class="flex-1">

      <form class="flex items-center gap-2 border border-gray-300 rounded-md p-2 max-w-96 mx-auto">
        <i class='fas fa-search text-gray-300'></i> 
        <input
          class="w-full outline-none appearance-none placeholder-gray-500 text-gray-500"
          type="text"
          placeholder="Search..."
        />
      </form>

    </div>

    <div class="flex items-center gap-2">

      <!-- Notification -->
      <div class="relative">

        @if (notificaitions.length > 0) {
          <span class="w-5 h-5 grid place-content-center absolute top-0 right-0 bg-red-500 rounded-full font-bold text-xs text-white">
            {{ notificaitions.length > 9 ? '9+' : notificaitions.length }}
          </span>
        }


        <button class="w-10 h-10 text-2xl rounded-full ring-offset-2 text-gray-300">
          <i class="fas fa-bell"></i>
        </button>
        <ul
          class="bg-white top-12 right-0 mt-5 w-48 absolute rounded shadow hidden"
        >
          <li class="hover:bg-gray-100 p-3">
            <a href="javascript:void(0)" class="block text-gray-600"
              >Dashboard</a
            >
          </li>
        </ul>
      </div>

      <!-- Profile -->
      <div class="relative">
        <button
          class="w-10 h-10 outline-none rounded-full ring-offset-2 ring-gray-200 ring-2 lg:focus:ring-secondary"
        >
          <img
            src="https://randomuser.me/api/portraits/men/46.jpg"
            class="w-full h-full rounded-full"
            alt="Profile Image"
          />
        </button>

        <ul
          class="bg-white top-12 right-0 mt-5 w-48 absolute rounded shadow hidden"
        >
          <li class="hover:bg-gray-100 p-3">
            <a href="javascript:void(0)" class="block text-gray-600"
              >Dashboard</a
            >
          </li>
          <li class="hover:bg-gray-100 p-3">
            <a href="javascript:void(0)" class="block text-gray-600"
              >Settings</a
            >
          </li>
          <li class="hover:bg-gray-100 p-3">
            <a href="javascript:void(0)" class="block text-gray-600"
              >Log out</a
            >
          </li>
        </ul>
      </div>
      
    </div>

  </div>
</nav>
