<form class="max-w-4xl px-4 py-10 sm:px-6 lg:px-8 mx-auto bg-white rounded-lg shadow">

    <h2 class="text-xl font-bold text-gray-800 mb-5">
        Merchant details
    </h2>

    <!-- Grid -->
    <div class="grid sm:grid-cols-12 gap-2 sm:gap-6 mb-5">
        <!-- <div class="sm:col-span-3">
      <label class="inline-block text-sm text-gray-800 mt-2.5 ">
        Profile photo
      </label>
    </div> -->
        <!-- End Col -->

        <!-- <div class="sm:col-span-9">
      <div class="flex items-center gap-5">
        <img class="inline-block size-16 rounded-full ring-2 ring-white ">
        <div class="flex gap-x-2">
          <div>
            <button type="button" class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-2xs hover:bg-gray-50focus:outline-hidden focus:bg-gray-50 ">
              <svg class="shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"/><polyline points="17 8 12 3 7 8"/><line x1="12" x2="12" y1="3" y2="15"/></svg>
              Upload photo
            </button>
          </div>
        </div>
      </div>
    </div> -->
        <!-- End Col -->

        <!-- First name -->
        <div class="sm:col-span-3">
            <label for="af-account-email" class="inline-block text-sm text-gray-800 mt-2.5 ">
                First name
            </label>
        </div>

        <div class="sm:col-span-9">
            <input id="af-account-email" type="text" class="py-1.5 sm:py-2 px-3 block w-full border border-gray-200 shadow-2xs sm:text-sm rounded-lg outline-0 focus:ring-2 ring-secondary ring-offset-2">
        </div>
        <!-- First name -->

        <!-- Last name -->
        <div class="sm:col-span-3">
            <label for="af-account-email" class="inline-block text-sm text-gray-800 mt-2.5 ">
                Last name
            </label>
        </div>

        <div class="sm:col-span-9">
            <input id="af-account-email" type="text"
                class="py-1.5 sm:py-2 px-3 block w-full border border-gray-200 shadow-2xs sm:text-sm rounded-lg outline-0 focus:ring-2 ring-secondary ring-offset-2">
        </div>
        <!-- Last name -->

        <!-- Email -->
        <div class="sm:col-span-3">
            <label for="af-account-email" class="inline-block text-sm text-gray-800 mt-2.5 ">
                Email
            </label>
        </div>

        <div class="sm:col-span-9">
            <input id="af-account-email" type="email"
                class="py-1.5 sm:py-2 px-3 block w-full border border-gray-200 shadow-2xs sm:text-sm rounded-lg outline-0 focus:ring-2 ring-secondary ring-offset-2">
        </div>
        <!-- Email -->
        
        <!-- Gender -->
        <div class="sm:col-span-3">
            <label for="af-account-gender-checkbox" class="inline-block text-sm text-gray-800 mt-2.5">
                Gender
            </label>
        </div>

        <div class="sm:col-span-9">
            <div class="sm:flex">
              <label for="af-account-gender-checkbox" class="flex py-2 px-3 w-full border border-gray-200 shadow-2xs -mt-px -ms-px first:rounded-t-lg last:rounded-b-lg sm:first:rounded-s-lg sm:mt-0 sm:first:ms-0 sm:first:rounded-se-none sm:last:rounded-es-none sm:last:rounded-e-lg text-sm">
                <input type="radio" name="af-account-gender-checkbox" class="shrink-0 rounded-full" id="af-account-gender-checkbox" checked>
                <span class="sm:text-sm text-gray-500 ms-3">Male</span>
              </label>
  
              <label for="af-account-gender-checkbox-female" class="flex py-2 px-3 w-full border border-gray-200 shadow-2xs -mt-px -ms-px first:rounded-t-lg last:rounded-b-lg sm:first:rounded-s-lg sm:mt-0 sm:first:ms-0 sm:first:rounded-se-none sm:last:rounded-es-none sm:last:rounded-e-lg text-sm">
                <input type="radio" name="af-account-gender-checkbox" class="shrink-0 border-gray-300 rounded-full" id="af-account-gender-checkbox-female">
                <span class="sm:text-sm text-gray-500 ms-3">Female</span>
              </label>
  
              <label for="af-account-gender-checkbox-other" class="flex py-2 px-3 w-full border border-gray-200 shadow-2xs -mt-px -ms-px first:rounded-t-lg last:rounded-b-lg sm:first:rounded-s-lg sm:mt-0 sm:first:ms-0 sm:first:rounded-se-none sm:last:rounded-es-none sm:last:rounded-e-lg text-sm">
                <input type="radio" name="af-account-gender-checkbox" class="shrink-0 rounded-full" id="af-account-gender-checkbox-other">
                <span class="sm:text-sm text-gray-500 ms-3">Other</span>
              </label>
            </div>
        </div>
        
        <!-- End Col -->


    </div>
    <!-- End Grid -->

    <h2 class="text-xl font-bold text-gray-800 mb-5">
        Restaurant details
    </h2>

    <!-- Grid -->
    <div class="grid sm:grid-cols-12 gap-2 sm:gap-6 mb-5">

        <!-- Restaurant name -->
        <div class="sm:col-span-3">
            <label for="af-account-email" class="inline-block text-sm text-gray-800 mt-2.5 ">
                Restaurant name
            </label>
        </div>

        <div class="sm:col-span-9">
            <input id="af-account-email" type="text" class="py-1.5 sm:py-2 px-3 block w-full border border-gray-200 shadow-2xs sm:text-sm rounded-lg outline-0 focus:ring-2 ring-secondary ring-offset-2">
        </div>
        <!-- First name -->

        <!-- Email -->
        <div class="sm:col-span-3">
            <label for="af-account-email" class="inline-block text-sm text-gray-800 mt-2.5 ">
                Email
            </label>
        </div>

        <div class="sm:col-span-9">
            <input id="af-account-email" type="email"
                class="py-1.5 sm:py-2 px-3 block w-full border border-gray-200 shadow-2xs sm:text-sm rounded-lg outline-0 focus:ring-2 ring-secondary ring-offset-2">
        </div>
        <!-- Email -->
        
        <!-- phone -->
        <div class="sm:col-span-3">
            <label for="af-account-phone" class="inline-block text-sm text-gray-800 mt-2.5 ">
                Phone
            </label>
        </div>

        <div class="sm:col-span-9">
            <input id="af-account-phone" type="tel" class="py-1.5 sm:py-2 px-3 block w-full border border-gray-200 shadow-2xs sm:text-sm rounded-lg outline-0 focus:ring-2 ring-secondary ring-offset-2">
        </div>
        <!-- phone -->
        
        <!-- password -->
        <div class="sm:col-span-3">
            <label for="af-account-password" class="inline-block text-sm text-gray-800 mt-2.5 ">
                Username
            </label>
        </div>

        <div class="sm:col-span-9">
            <input id="af-account-password" type="tel" class="py-1.5 sm:py-2 px-3 block w-full border border-gray-200 shadow-2xs sm:text-sm rounded-lg outline-0 focus:ring-2 ring-secondary ring-offset-2">
        </div>
        <!-- phone -->

        <!-- password -->
        <div class="sm:col-span-3">
            <label for="af-account-password" class="inline-block text-sm text-gray-800 mt-2.5 ">
                Password
            </label>
        </div>

        <div class="sm:col-span-9">
            <input id="af-account-password" type="tel" class="py-1.5 sm:py-2 px-3 block w-full border border-gray-200 shadow-2xs sm:text-sm rounded-lg outline-0 focus:ring-2 ring-secondary ring-offset-2">
        </div>
        <!-- password -->
        
        
        
        
        
    </div>
    <!-- End Grid -->
    <h2 class="text-xl font-bold text-gray-800 mb-5">
        Package details
    </h2>

    

    <div class="mt-5 flex justify-end gap-x-2">
        <button type="button"
            class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-transparent bg-secondary text-white hover:bg-secondary-700 focus:outline-hidden focus:bg-secondary-700">
            Save changes
        </button>
    </div>
</form>