<main class="w-full h-screen flex flex-col items-center justify-center px-4">
  <div class="max-w-sm w-full text-gray-600 space-y-5">
    <div class="text-center pb-8">
      <img src="https://floatui.com/logo.svg" width="150" class="mx-auto" />
      <h3 class="text-gray-800 text-2xl font-bold sm:text-3xl mt-5">
        Log in to your account
      </h3>
    </div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="space-y-5">
      <div>
        <label class="font-medium">Email</label>
        <input
          formControlName="email"
          type="email"
          required
          class="w-full mt-2 px-3 py-2 text-gray-500 bg-transparent outline-none border focus:border-primary shadow-sm rounded-lg"
        />
        <small class="text-red-500 font-bold block mt-2">
          @if (form.controls['email'].touched && form.controls['email'].invalid) {
            {{ form.controls['email'].hasError('required')  ? 'Email is required.' : '' }}
            {{ form.controls['email'].hasError('email')     ? 'Please enter a valid email.' : '' }}
          }
        </small>        
      </div>
      <div>
        <label class="font-medium">Password</label>
        <input
          formControlName="password"
          type="password"
          required
          class="w-full mt-2 px-3 py-2 text-gray-500 bg-transparent outline-none border focus:border-primary shadow-sm rounded-lg"
        />
        <small class="text-red-500 font-bold block mt-2">
          @if (form.controls['password'].touched && form.controls['password'].invalid) {
            {{ form.controls['password'].hasError('required')  ? 'password is required.' : '' }}
            {{ form.controls['password'].hasError('minlength') ? 'Please enter a valid password.' : '' }}
          }
        </small>
      </div>
      <div class="flex items-center justify-between text-sm">
        <div class="flex items-center gap-x-3">
          <input
            formControlName="remember"
            type="checkbox"
            id="remember-me-checkbox"
            class="checkbox-item peer hidden"
          />
          <label
            for="remember-me-checkbox"
            class="relative flex w-5 h-5 bg-white peer-checked:bg-primary rounded-md border ring-offset-2 ring-primary duration-150 peer-active:ring cursor-pointer after:absolute after:inset-x-0 after:top-[3px] after:m-auto after:w-1.5 after:h-2.5 after:border-r-2 after:border-b-2 after:border-white after:rotate-45"
          ></label>
          <span>Remember me</span>
        </div>
        <a
          href="javascript:void(0)"
          class="text-center text-primary hover:text-secondary"
          >Forgot password?</a
        >
      </div>
      <button
        type="submit"
        class="w-full px-4 py-2 text-white font-medium bg-primary hover:bg-primary-500 disabled:bg-gray-300 rounded-lg duration-150"
        [disabled]="form.invalid"
      >
        Sign in
      </button>
    </form>
    <button
      class="w-full flex items-center justify-center gap-x-3 py-2.5 border rounded-lg text-sm font-medium hover:bg-gray-50 duration-150 active:bg-gray-100"
    >
      <img
        src="https://raw.githubusercontent.com/sidiDev/remote-assets/7cd06bf1d8859c578c2efbfda2c68bd6bedc66d8/google-icon.svg"
        alt="Google"
        class="w-5 h-5"
      />
      Continue with Google
    </button>
    <p class="text-center">
      Don't have an account?
      <a
        href="javascript:void(0)"
        class="font-medium text-primary hover:text-secondary"
        >Sign up</a
      >
    </p>
  </div>
</main>
